@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background-color: #ffffff;
}

/*navbar*/

#nav1{
	display: none;
}

nav .container .collapse{
	
	justify-content: space-evenly!important;
}

nav .container .collapse ul li{
	padding: 5px 15px 5px 15px;
}

nav .container .register{
	border: 1px solid #289BDE;
	color: #289BDE;
}

/*Section1*/
#slider1{
	display: none;
}
.section1 .container{

}

.section1 .container .carousel-item:before{

	content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius: 10px;
  background:rgba(0,0,0,0.7);

}
.section1 .container .carousel-caption{

	top: 245px;
}
.section1 .container .carousel-caption h1{
	font-size: 65px;
}
.section1 .container .carousel-caption a{
	background-color: #289BDE;
}

/*Section2*/
.section2 .container .courses .col-md-8 small{
	color: #289BDE;
}

.section2 .container .more-btn a{
	background-color: #289BDE;
}

/*Section3*/

/*.section3 .container .card .row .col-md-8{
	background-color: #F4FAFD;
}*/

.section3 .container .card .row .col-lg-8 .card-body h5{
	font-size: 45px;
}

.section3 .container .card .row .col-lg-8 .card-body .read-more a:hover{
	background-color: #289BDE;
	color: #ffffff;
}
.button{
	background-color: #289BDE;
}


/*Section4*/
.section4 .container{
	background-color: #289BDE;
}

.section4 .container .modal-details a{
	color: #289BDE;
}
.section4 .modal .modal-header{
	background-color: #289BDE;
}
.section4 .modal .modal-body .register{
	border: 1px solid #289BDE;
	color: #289BDE;
}

/*Section5*/
.section5 .container .student-elements h5{
	font-size: 45px;
}
.section5 .container .read-more a:hover{
	background-color: #289BDE;
	color: #ffffff;
}

/*Section6*/
.section6 #feedback1{
	display: none;
}
.section6 .container .feedback .carousel-control-prev{
	margin-left: -20px;
} 
.section6 .container .feedback .carousel-control-next{
	margin-right: -20px;

}
.section6 .container .feedback .carousel-control-next .carousel-control-next-icon,.section6 .container .feedback .carousel-control-prev .carousel-control-prev-icon{
	background-color: #289BDE;
}
/*Section7*/

.section7 .container .accordion-button{
	color: #1E1E1E!important;
}
.section7 .container .accordion-item #collapseOne{
	border: none!important;
}
.section7 .accordion-button:focus{
	outline: 0;
	box-shadow: none !important;
}

/*Section8*/
.section8 .container .cmp-img img{
	padding: 5px 25px 5px 25px;
}

/*footer*/



footer {
    background-color: #161616;
    padding: 50px 0;
    display: flex;
	justify-content: center;
}

.title h3 , .owner-details p{
	text-align: center;
	color: white;
}



.social i{
    background: rgba(218, 208, 208, 0.1);
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 50%;
}

.social ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social ul li{
	list-style: none;
}
.social ul li a{
	text-decoration: none;
	padding: 5px;
	color: white;

}




@media only screen and (max-width: 1024px) and (min-width: 768px) {

	/*navbar*/
	#nav{
	display: none;
	}
	#nav1{
	display: block;
	}
	#nav1 .container .register{
		margin-right: 10px;
	}
	/*Section1*/
	.section1 .container .carousel-caption{
		margin-top: -180px !important;
		padding: 10px!important;
		flex-direction: column;
	}
	.section1 .container .carousel-caption h1{
	font-size: 40px;
	}
	.section1 .container .carousel-caption p{
		font-size: 13px;
	}

	/*Section2*/
	.section2 .container .course-details h1{
		font-size: 30px;
	}

	/*Section3*/
	.section3 .container .card .row .col-lg-8{
		padding: 0!important;
	}

	.section3 .container .card .row .col-lg-8 .card-body h5 {
		font-size: 27px;
	}
	.section3 .container .card .row .col-lg-8 .card-body .ellipsis{
		
  		white-space: normal; 
  		height: 90px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	/*Section4*/
	.section4 .container{
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.section4 .container .modal-details h3,.section4 .container .modal-details p{
		text-align: center;
	}


	/*Section6*/

	.section6 #feedback1{
	display: block;
	}

	.section6 #feedback{
	display: none;
	}

	/*Section7*/
	.section7 .container .qs{
		width: 100% !important;
	}

}
@media only screen and (max-width: 600px) {
	/*navbar*/
	#nav1{
		display: block;
	}
	#nav{
		display: none;
	}
	#nav1 .container .navbar-brand{
		font-size: 17px;
	}
	#nav1 .container .register{
		margin-right: 5px;
	}
	/*Section1*/
	#slider1{
		display: block;
	}
	#slider{
		display: none;
	}
	.section1 .container .carousel-caption{
		margin-top: -225px !important;
		padding: 10px!important;
		flex-direction: column;
	}
	.section1 .container .carousel-caption h1{
	font-size: 20px;
	}
	.section1 .container .carousel-caption p{
		font-size: 10px;
	}
	.section1 .container .carousel-caption a{

	}
	/*Section2*/
	.section2 .container .course-details h1{
		font-size: 20px;
	}
	.section2 .container .courses .col-md-4 img{
		width: 100%;
	}
	.section2 .container .courses .col-md-8 small{
		font-size: 22px;
		font-weight: bold;
	}
	/*Section3*/
	.section3{
		padding-top: 10px!important;
	}
	.section3 .container .card .row .col-lg-4 img{
		width: 100%;
	}
	.section3 .container .card .row .col-lg-8{
		padding: 0!important;
	}
	.section3 .container .card .row .col-lg-8 .card-body{
		padding: 20px !important;
	}
	.section3 .container .card{
		padding: 0!important;
	}
	.section3 .container .card .row .col-lg-8 .card-body h5 {
    font-size: 20px;
	}
	.section3 .container .card .row .col-lg-8 .card-body .info h5{
		font-size: 25px;
		font-weight: bold;
	}
	.section3 .container .card .row .col-lg-8 .card-body .ellipsis{
		
  		white-space: normal; 
  		height: 90px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/*Section4*/
	.section4{
		padding-bottom: 0!important;
	}
	.section4 .container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20PX!important;
		margin: 15px!important;
		width: 100%;
	}
	.section4 .container .modal-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.section4 .container .modal-details P{
		text-align: center;
	}

	/*Section5*/
	.section5 .container .student-elements{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding: 5px;

	}
	.section5 .container .student-elements h5{
	font-size: 20px;
	}

	.section5 .container .student-lists .card-body{
		text-align: center;
	}

	/*Section6*/

	.section6 #feedback1{
	display: block;
	}

	.section6 #feedback{
	display: none;
	}

	/*Section7*/
	.section7 {
		padding-top: 10px !important;
	}
	.section7 .container .qs{
		width: 100% !important;
	}
	.section7 .container .qs-elements{
		padding: 15px;
	}
	.section7 .container .qs-elements h1{
		font-size: 20px;
	}
	.section7 .container .qs-elements p{
		text-align: center;
		margin-top: 10px;
	}

	/*footer*/

	footer .container{
	padding: 15px !important;
	}
}